@import "../../../../style/constants";
@import "../../../../style/placeholders";

.start_screen__button {
  @extend %my-transition;
  font-size: 40px;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  border: 1px solid $color-button-start-page;
  margin-top: 100px;
  &:hover {
    cursor: pointer;
    color: $color-body;
    background: $color-button-start-page;
  }
}

.description_game {
  margin-top: 20px;
  font-weight: bold;
}

.start_screen_wrapper__savannah {
  padding: 40px;
  text-align: center;
  margin: 30vh auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../../assets/img/background_savannah.png);
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: 100px;
}

.title_start_screen {
  font-weight: bold;
}
