@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../components/StartPage/Startpage";
@import "../components/App/App";
@import "../style/abstract/constants.scss";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF5EE !important;
  font-family: 'Lato', sans-serif !important;
}

button {
  border-radius: 5px !important;
}




