.result_section {
    margin-top: 35vh
  }
  
  .result_window {
    text-align: center;
  }
  
  .result_window__description {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .back_button {
    margin-top: 20px;
  }
  