@import "../../../style/constants";
@import "../../../style/placeholders";
@import "../../../style/mixins";

.dictionary {
  &__word-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-self: center;

    width: 100%;

    list-style: none;
    margin: 0;
    padding: 0 20px;

    @extend %transition;

    @include media-tablet {
      padding: 0 10px;
    }
  }
}
