@import "~bootstrap/scss/bootstrap";
.main-page{
    margin: 0 auto;
    .today-plane{
        text-align: center;
        font-size: 48px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        margin: 4rem;
    }
    .main-page-card{
        margin: 2rem auto;
        display: flex;
        flex-direction: row;
        width: 500px;
        background-color: white;
        height: 152px;
        border-radius: 10px;

        .image{
            width: 150px;
            height: 150px;
            border-radius: 10px;
        }
        .task-number{
            letter-spacing: -0.5px;
            line-height: 17px;
        }
        .motivational-message{
            margin-top: 0.5rem;
            font-size: 0.85em;
        }
    }
}
@media (max-width: 568px) and (min-width: 320px) {
    .main-page{
        .today-plane{
            text-align: center;
            font-size: 30px;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
            margin: 1rem;
        }
        .main-page-card{
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 350px;
            .image{
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}