.progress-container{
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 2fr 1fr;
    .today-progress-container{
        .today-title{
            margin: 5%; 
            margin-bottom: 1%;
        }
        .today-progress-first-row,
        .today-progress-second-row{
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             grid-template-rows: auto;
             grid-gap: 1rem;
            .info-box{
                background-color: #F5F5F5;
                border-radius: 10px;
                text-align: center;
                margin: 5%; 
                .box-title{
                    padding: 5px;
                }
                .box-number{
                    padding: 5px;            
                }
            }
        }
        .separator{
            height: 1.5px;
            background-color: #ebebeb;
        }
    }
    .week-progress-container{
        .today-title{
            margin: 5% auto;
        }
        .today-goal-block-text-img{
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: 0.4fr 2fr;
            .today-goal-title,
            .today-goal-text{
                margin-bottom: 0.5rem;
            }
        }
        .week-block{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }
                                        
    }
}