$color-header-start-page: #abcdef;
$color-button-start-page: #455A64;
$color-text-button-start-page: aliceblue;
$color-footer-start-page: #455A64;
$color-body: #FFF5EE;


$font-family-body: 'Lato', sans-serif !important;

$width-wrapper: 1200px;

$dictionary-word-card-background: aliceblue; 
$dictionary-word-card-border: rgba(182, 182, 182, 0.568);
$dictionary-container-background: rgba(128, 144, 160, 0.473);
$dictionary-learning-panel-background: rgb(173, 238, 173);
$dictionary-difficult-panel-background: rgb(166, 219, 252);
$dictionary-removed-panel-background: rgb(253, 220, 225);
