$color-card-background: aliceblue;
$color-body: #FFF5EE;
$color-link-card: cadetblue;


$font-family-body: 'Lato', sans-serif;

$box-shadow-card: 2px 3px 18px 3px rgba(0,0,0,0.75);
$box-shadow-progress-bar: 2px 3px 8px 3px rgba(0,0,0,0.4);
$color-header-start-page: #abcdef;
$color-button-start-page: #455A64;
$color-text-button-start-page: aliceblue;
$color-footer-start-page: #455A64;
$color-body: #FFF5EE;
$color-progress-bar: #68B8FF;

<<<<<<< HEAD
$color-valid-letter: lightgreen;
$color-invalid-letter: palevioletred;
$color-input-default: white;
=======
$color-black: #000;
$color-red: #ff0000;
$color-green: #008000;

$font-family-body: 'Lato', sans-serif !important;
>>>>>>> feat: add styles constants

$width-wrapper: 1200px;
