.graph {
    position: relative;
    width: 600px;
    height: 550;
}

.stats_wrapper {
    margin: 8rem auto;
}

.stats_container {
    text-align: center;
}

.graph_words, .graph_days {
    text-align: center;
}