

.dictionary {

  &__word {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 10px;
    margin-bottom: 10px;

    background-color: gold;

    p {
      display: inline-block;
    }

  }
}