@import "../../style/constants";
@import "../../style/placeholders";

.dictionary {

  &__word {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
    @extend %card-shadow;

    cursor: move;  

    background-color: $dictionary-word-card-background;
    border: 1px solid $dictionary-word-card-border;

    p {
      display: inline-block;
    }

  }
}