@import "../../style/constants";
@import "../../style/placeholders";
@import "../../style/mixins";

.dictionary {
  &__tab {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    min-width: 90px;
    min-height: 80px;      
    
    

    opacity: 0.7;
    background-color: lightgrey;

    padding: 20px 10px;
    cursor: pointer;

    @extend %transition;
    @extend %no-userselect;
    @extend %card-shadow;

    &_selected {
      @extend %transition;
      opacity: 1;
      cursor: default;
      z-index: 5;
      transform: scale(1.07)
    }
    &:hover {
      @extend %transition;
      opacity: 1;
    }

    &_learning {
      background-color: $dictionary-learning-panel-background;
      border-top-right-radius: 10px;
    }
    &_difficult {
      background-color: $dictionary-difficult-panel-background;
      margin: 5px 0;
    }
    &_removed {
      background-color: $dictionary-removed-panel-background;
      border-bottom-right-radius: 10px;
    }
  }

  &__tab__header {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px; 
    @extend %textshadow 
  }
  &__tab__counter {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 50px; 
    @extend %textshadow 
  }

}