@import "../../style/constants";
@import "../../style/placeholders";
@import "../../style/mixins";

.dictionary {
  &__tab {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;

    min-width: 90px;
    min-height: 80px;      
    border-radius: 10px;
    opacity: 0.6;
    background-color: lightgrey;

    padding: 10px;

    @extend %transition;
    @extend %no-userselect;

    &_selected {
      @extend %transition;
      opacity: 1;
    }
    &:hover {
      @extend %transition;
      opacity: 1;
    }

    &_learning {
      background-color: lightgreen;
    }
    &_difficult {
      background-color: lightskyblue;
      margin: 10px 0;
    }
    &_removed {
      background-color: pink;
    }
  }

  &__tab__header {
    
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px; 
  }
  &__tab__counter {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px; 
  }

}