@import "~bootstrap/scss/bootstrap";

.autorization-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    padding-top: 0;
    width: 500px;
    margin: auto;
    .form-group{
        display: flex;
        flex-direction: row;
    }
    .authorization-title{
        text-align: center;
        padding: 1rem 
    }
    .error-block,
    .authorization-request-error{
        text-align: center;
        color: red;
        line-height: 1rem;
        font-size: 12px;
        .form-errors{
            height: 3rem;
        }
    }
    .authorization-icon{
        width: 20px;
        height: 20px;
        margin: auto 7px;
    }
    .authorization-button{
        float:right;
        margin: 1rem 0;
        justify-content: right  ;
    }
}

@media (max-width: 568px) and (min-width: 400px) {
    .autorization-container{
        display: flex;
            flex-direction: column;
            justify-content: center;
        
        .form-group{
            margin: 1rem auto;
            width: 80% !important;

        }
    }
}

@media (max-width: 400px) and (min-width: 320px) {
    .autorization-container{
        display: flex;
            flex-direction: column;
            justify-content: center;
        .form-group{
            margin: 1rem 20%;
            width: 70% !important;
        }
    }
}