@import "../../../style/constants";
@import "../../../style/placeholders";

.letter_check {
  display: inline-block;
  text-align: center;
}

.letter_check__block {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.difficulty_block {
  position: absolute;
  font-size: 14px;
  height: 100%;
  max-height: 10px;
  line-height: 0;
}

.difficulty_block__item {
  @extend %my-transition;
  position: relative;
  padding: 3px;
  width: 110%;
  z-index: 6;
  background: $color-card-background;
  border-radius: 2px;
  margin-left: 3px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 11px 0px $color-link-card;
    color: $color-link-card;
  }
}

