@import "../../style/constants";
@import "../../style/placeholders";
@import "../../style/mixins";

.dictionary {  

  &__container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;    
    width: 800px;
    height: 800px;
    //padding: 10px;  
    margin: 10px auto;  
    overflow: hidden;

    border-radius: 10px;

    @extend %card-shadow;

  }

  &__panel {
    position: relative;
    display: block;
    width: 80%;
    height: 800px;
    // perspective: 800px;    
    
    margin: 0;
    padding: 0;    

    @include transform-origin(0 50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;

    &_learning-selected {
      @include rotateX(-90deg);
    }
    &_difficult-selected {
      @include rotateX(0deg);
    }
    &_removed-selected {
      @include rotateX(90deg);
    }
  }  

  &__tabs {
    position: relative;
    width: 20%;
    height: 100%;
    min-height: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    //margin-left: 5px;    
  }  
}
